// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-BoldCond.otf") format("opentype");
}

// Variables (colors mainly)
@import "./variables";

// Layout
@import "layout/grid";
@import "layout/header-nav";
@import "layout/main_content";

* {
    box-sizing: border-box;
}
