@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400);@font-face {
  font-family: "MyriadPro";
  src: url(/fonts/MyriadPro-BoldCond.otf?3ea81583b29f67fc449bfd818c892747) format("opentype");
}

.container {
  display: grid;
  gap: 1em;
  margin: 0 auto;
}

.page-header {
  grid-template-columns: 2fr 4fr;
  -webkit-box-align: center;
          align-items: center;
}

.page-header .title {
  font-family: "MyriadPro", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.page-header .links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.page-header .links a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), to(#00d4ff));
  background: linear-gradient(0deg, #020024 0%, #00d4ff 100%);
}

.logo {
  margin: 0;
}

.landing {
  grid-template-columns: auto 1fr;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

.landing h2 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding-bottom: 1em;
  opacity: 0.8;
}

.landing a {
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #bfd9ed;
  background-color: #1c3249;
  padding: 1em;
  border-radius: 0.5em;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.landing a:hover {
  opacity: 0.8;
  color: #cccccc;
}

main {
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), to(#00d4ff));
  background: linear-gradient(0deg, #020024 0%, #00d4ff 100%);
}

.card {
  display: grid;
  -webkit-box-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #eeeeee;
}

.card a {
  text-decoration: none;
  color: #eeeeee;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.card a:hover {
  color: #dddddd;
}

.card-header {
  margin-left: 0.75em;
}

.row {
  padding: 0.5em 1em;
}

.btn {
  padding: 0.5em 2em;
  color: #eeeeee;
  border: 0;
  border-radius: 0.25em;
}

.btn-login {
  background-color: green;
}

.invalid-feedback {
  display: block;
  background-color: red;
  margin-top: 0.25em;
}

* {
  box-sizing: border-box;
}

