.page-header {
    grid-template-columns: 2fr 4fr;
    align-items: center;

    .title {
        font-family: "MyriadPro", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .links {
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
